<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Remix icobs CDN -->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <!-- START OF NAVBAR -->
    <nav>
        <div class="container">
            <a href="index.html" class="logo"><img src="" alt=""></a>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#why-choose-us">Why choose us ?</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="contact.html">Let's  talk</a></li>
            </ul>

            <div class="icons">
                    <a><i class="ri-search-line"></i></a>
                    <a><i class="ri-shopping-basket-2-line"></i></a>
                    <a><i class="ri-user-line"></i></a>
            </div>

            <button id="menu-btn"><i class="ri-menu-fill"></i></button>
            <button id="close-btn"><i class="ri-close-large-fill"></i></button>
        </div>
    </nav>
    <!-- END OF NAVBAR -->
    <script src="/script/script.js"></script>
</body>
</html>